.contenedor-carrito{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.carta-carrito{
    width: 70%;
    border: none;
    border-radius: 7px;
    box-shadow: 2px 3px 2px rgb(131, 129, 129);
    margin-bottom: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.carta-carrito img{
    width: 100px;
    height: 150px;
}

.carta-carrito p{
    font-size: 20px;
}

.precio-total{
    text-align: center;
    color: #000;
}

.carritoVacio{
    display: none;
}

.btn-eliminar{
    color: rgb(237, 232, 232) !important;
    background-color: rgb(242, 68, 68);
}

.btn-eliminar:hover{
    background-color: rgb(212, 9, 50);
}

.btn-vaciar{
    width: 20%;
    margin: 20px auto;
    color: rgb(237, 232, 232) !important;
    background-color: rgb(23, 201, 142);
}

.btn-vaciar:hover{
    background-color: rgb(20, 141, 100);
}

.btn-volverHome{
    width: 125px;
    margin: 20px auto;
    display: block;
    text-decoration: none;
    border: 2px solid rgb(113, 110, 110);
    border-radius: 5px;
    padding: 15px;
    color: rgb(76, 74, 74);
}

.btn-volverHome:hover{
    color: rgb(49, 48, 48);
    background-color: rgb(122, 126, 125);
}