.contenedor-ItemDetail{
    width: auto;
    color: #000;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.carta-ItemDetail{
    width: 25rem;
    height: auto;
    margin: 1rem;
    box-shadow: 2px 3px 3px #000;
    border-radius: 1rem;
    padding: 10px;
}

.descripcion{
    font-size: 14px;
}
