
form{
    width: 600px;
    height: auto;
    margin-right: 30px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgb(80, 79, 78);
    border-radius: 3px;
    padding: 10px;
}

form input{
    margin-bottom: 20px;
}

.btn-orden{
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: rgb(26, 103, 237);
    color: #fff;
}