.libros{
    width: 18rem !important;
    height: 45rem !important;
    margin: 1rem;
    box-shadow: 2px 3px 3px #000;
    border-radius: 1rem;
}

.card-img-top{
    height: 38rem;
    border-radius: 1rem;
}

.btn{
    bottom: 0;
    font-size: 2rem;
    color: #fff !important;
}